.slide {
  border: 1px solid gray;
  padding: 1em;
  margin: 0.25em;
}

.presenting {
  overflow: hidden;
}

.slide.presented {
  border: none;
  margin: 0em;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
}
