@require "../../node_modules/kouto-swiss/index.styl"
@require "../../node_modules/axis/axis/index.styl"

// Kouto Swiss
box-sizing-reset()
normalize()



// Layout

html, body
  height: 100%

$slide-spacing = 1.5vw
$slide-padding = 12% // Both sides
$slide-font-size = 3vw

for i in 1..6
  @media (min-width: (i*300)px)
    $slides-in-row = i

    .slide

      // Adaptive padding
      &:not(.presented)
        padding: 0 ($slide-padding / $slides-in-row / 2);
      &.presented
        padding: 0 ($slide-padding / 2);
      &::before, &::after
        display: block;
        content: "";
        height: ($slide-padding / 2);


      &:not(.presented)
        font-size: ($slide-font-size / $slides-in-row)

        display: inline-block

        width: "calc(%s - %s)" % \
          ((100 / $slides-in-row)% $slide-spacing)
        height: "calc(%s - %s)" % \
          ((100 / $slides-in-row)% ($slide-spacing))


.presentation
  font-size: 1em
  display: flex
  flex-wrap: wrap
  justify-content: flex-start
  align-content: flex-start
  padding-top: $slide-spacing
  padding-left: $slide-spacing
  height: 100%


.slide

  &:not(.presented)

    display: inline-block

    margin-bottom: $slide-spacing
    margin-right: $slide-spacing

    border: 1px solid alpha(#000, 0.125)

    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 0px ($slide-spacing) ($slide-spacing/4) alpha(#000, 0.125)

    cursor: pointer;

    overflow: auto;

    // Fix spacing between inline blocks
    .ie9 &
      margin-left: -0.5em

  &.presented
    font-size: $slide-font-size

    position: fixed

    left: 0
    top: 0
    width: 100%
    height: 100%
    margin: 0em

    border: none
    background: white

    overflow: auto


.presenting
  font-size: 200%
  overflow: hidden


// Content

// Axis

$font-stack = $helvetica-neue
$font-size = 16
$font-color = #333
$default-color = $yellow

base()

// Don't use Axis stuff related to font size for slide content, because Axis
// likes to use rem and we want to use em, so everything inside the slide would
// scale itself


$h3-font-size = 1.3em

-heading($level)
  font-size: modular-scale($h3-font-size, 3 - $level)
  text-rendering: optimizelegibility
  font-weight: bold
  margin: 0.125em 0
  line-height: 1.4


h1
  -heading(1)

h2
  -heading(2)

h3
  -heading(3)

h4
  -heading(4)

h5
  -heading(5)

h6
  -heading(6)

.large
  font-size: 125%

small, .small
  font-size: 75%

a
  color: blue
  text-decoration: underline

  &:hover
    color: darken(@color, 20%)

  &:visited
    opacity: .8

p, li
  paragraph(1em)

li
  ol, ul
    margin-left: 2em

ol
  list-style-position: outside
  padding-left: 0

  & > li
    margin-left: 1.25em;
    text-indent: 0;

ul
  list-style: none;
  padding-left: 0;

  & > li
    padding-left: 1.25em;
    text-indent: -1.25em;

    &:before
      content: "— ";


kbd
  code: black

.todo
  background-color: $yellow
