@require "../../node_modules/kouto-swiss/index.styl"
@require "../../node_modules/axis/axis/index.styl"

// Kouto Swiss
box-sizing-reset()
normalize()



// Layout

$slide-spacing = 1rem
$slide-aspect-ratio = (4/3)

.presentation
  font-size: 1.125em
  display: flex
  flex-wrap: wrap
  justify-content: flex-start
  padding-top: $slide-spacing
  padding-left: $slide-spacing


.slide
  padding: 1.25em (1.25em * $slide-aspect-ratio)

  &:not(.presented)
    font-size: 50%

    display: inline-block

    width: 15rem
    height: (@width / $slide-aspect-ratio)
    margin-bottom: $slide-spacing
    margin-right: $slide-spacing

    border: 1px solid alpha(#000, 0.125)

    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 0px ($slide-spacing) ($slide-spacing/4) alpha(#000, 0.125)

    cursor: pointer;

    overflow: auto;

  &.presented

    position: fixed

    left: 0
    top: 0
    width: 100%
    height: 100%
    margin: 0em

    border: none
    background: white

    overflow: auto


.presenting
  font-size: 200%
  overflow: hidden


// Content

// Axis

$font-stack = $helvetica-neue
$font-size = 16
$font-color = #333
$default-color = $yellow

base()

// Don't use Axis stuff related to font size for slide content, because Axis
// likes to use rem and we want to use em, so everything inside the slide would
// scale itself


$h3-font-size = 1.3em

-heading($level)
  font-size: modular-scale($h3-font-size, 3 - $level)
  text-rendering: optimizelegibility
  font-weight: bold
  margin: 0.125em 0
  line-height: 1.4


h1
  -heading(1)

h2
  -heading(2)

h3
  -heading(3)

h4
  -heading(4)

h5
  -heading(5)

h6
  -heading(6)

.large
  font-size: 125%

small, .small
  font-size: 75%

a
  color: blue
  text-decoration: underline

  &:hover
    color: darken(@color, 20%)

  &:visited
    opacity: .8

p, li
  paragraph(1em)

li
  ol, ul
    margin-left: 2em

ol
  list-style-position: outside
  padding-left: 0

  & > li
    margin-left: 1.25em;
    text-indent: 0;

ul
  list-style: none;
  padding-left: 0;

  & > li
    padding-left: 1.25em;
    text-indent: -1.25em;

    &:before
      content: "— ";


kbd
  code: black

.todo
  background-color: $yellow
